*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body
{
    width: 100%;
    height: 100%;
}

nav{
    display: flex;
    justify-content: space-around;
    background-color: #9b9898;
    color: white;
    align-items: center;
    padding: 20px 0;
}

nav ul
{
    display: flex;
}
nav ul li
{
    list-style: none;
    margin-right: 20px;
    font-size: 22px;
    font-weight: bold;
    padding: 5px;
}

nav ul li a
{
    text-decoration: none;
    color: white;
}

#banner
{
    width: 100%;
    height: 100vh;
    background-image: url(./asset/image/background.jpg), linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    background-blend-mode: overlay;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}
#banner .banner_content
{
    width: 50%;
    height: 40%;
}
#banner h1
{
    font-size: 85px;
}

#banner p
{
    font-size: 22px;
}
#banner button
{
    border: none;
    padding: 15px 35px;
    font-size: 18px;
    margin: 5px;
}

#banner .btn
{
    margin-top: 20px;
}

#services
{
    width: 100%;
    height: 130vh;
    background-image: url("./asset/image/footer-bg.png"),
    linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.9));
    background-blend-mode:overlay;
    color: white;
    padding-bottom: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#services .skill_boxes
{
    display: flex;
    justify-content: center;
    align-items: center;
}
#services button, .c_btn
{
    border: none;
    padding: 15px 35px;
    font-size: 18px;
    margin: 5px;
    border-radius: 35px;
}
#services .service_details
{
    width: 50%;
}
#services .service_details h1
{
    font-size: 40px;
    margin: 15px 0px;
    font-weight: bold;
}
#services .service_details p
{
    width: 75%;
    font-size: 20px;
    padding: 12px;
    
}
#services .service_details .profile_container
{
    display: flex;
    align-items: center;
    gap: 10px;
}
#services .service_details .profile_container .profile
{
    display: flex;
    border-right: 1px solid red;
    width: 35%;
    margin-top: 5px;
    align-items: center;
    justify-content: left;
    padding-left: 5px;
    gap: 3px;
    
    
}
#services .service_details .profile_container img
{
    width: 65px;
    height: 65px;
    border-radius: 50px;
    margin-top: 10px;
}
#services .service_details
{
    width: 50%;
}

#services .skill_boxes .skill img
{
    width: 50%;
    margin: 0 auto;
    margin-bottom: 10px;
}
#services .skill_boxes .skill
{
    background-color: white;
    height: 300px;
    width: 300px;
    margin: 10px 5px;
    border-radius: 10px;
    text-align: center;
    color: black;
    display: flex;
    align-items: center;
    box-shadow: 4px 4px 8px gray;
}

#apointment{
    width: 75%;
    background-color: #f52c2c;
    border-radius: 15px;
    margin: auto;
    color: white;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: -80px;
    
}
#apointment img
{
    width: 100px;
    height: 100px;
}

#apointment .title
{
    width: 40%;
    text-align: justify;
   
}
#apointment .apoinment_btn .a_btn
{
    border: none;
    padding: 15px 35px;
    border-radius: 25px;
    font-size: 14px;
    font-weight: lighter;
    
}
#apointment .apoinment_btn
{
    width: 20%;
}
#apointment .call_section
{
    display: flex;
    align-items: center;
    margin-left:20px;
    border-right: 2px solid gray;
    padding: 20px;
    width: 35%;
}